@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

button {
  @apply bg-emerald-400 text-white font-bold py-2 px-4 rounded-full;
}

button:hover {
  @apply bg-emerald-200;
}

button:active {
  @apply bg-green-600;
}

img {
  @apply h-64 w-64 rounded-full;
}

.container {
  width: 100%;
  padding: 0 1.5rem;
  @apply lg:max-w-5xl lg:mx-auto;
}

.item {
  @apply lg:flex lg:items-center lg:justify-between;
}

.sidebar {
  @apply lg:hidden;
}

